.git
.idea

/datasets/ActivityNet_Captions/*.py

/datasets/MSRVTT/videos/*.mp4
/datasets/MSVD/videos/*.avi
/datasets/MSVD/MSVD_Videos.zip

/datasets/MSRVTT/kg/*.hdf5
/datasets/MSVD/kg/*.hdf5

README_PIPELINE.md
TRAINING_SPLIT_UPDATE.md